.header {
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.header > img {
  margin-right: 7px;
  width: 24px;
}

.header .site-heading {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -7.5%;
  color: white;
}

article {
  display: flex;
  height: auto;
  margin: 30px 30px 0 30px;
}

article .entry-image-container {
  margin-right: 15px;
  flex: 0 0 125px;
}

article .entry-image-container > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

article .entry-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 168px;
}

article .entry-info .entry-meta {
  display: flex;
  align-items: center;
}

article .entry-info .entry-meta > img {
  width: 7px;
  height: 9.55px;
  margin-right: 4px;
}

article .entry-info .entry-meta > span {
  font-weight: 400;
  font-size: 0.64rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin-right: 12px;
}

article .entry-info .entry-meta > a {
  font-weight: 400;
  font-size: 0.64rem;
  color: #918E9B;
}

article .entry-info .entry-title {
  font-weight: 700;
  font-size: 1.56rem;
  margin: 0 0 8px 0;
}

article .entry-info .entry-dates {
  font-weight: 700;
  font-size: 0.64rem;
  margin: 0;
}

article .entry-info .entry-description {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
}

@media screen and (max-width: 576px) {
  article {
    flex-direction: column;
  }

  article .entry-image-container {
    margin-bottom: 8px;
  }
}


